.h1_class {
  font-weight: 200
}
.header_class{
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 100px;
  height: 75vh;
}
.languages {
  margin: 3px 0;
  font-size: .9rem;
}
body, html  {
  background-image: url("home-bg-2.jpg");
  margin: 0;
  padding: 0;
  color: #444452;
  line-height: 1.5;
  font-family: 'Share Tech Mono', monospace;
  font-weight: 3000;
  font-size: 150%
}
.language-items{
  margin: 3px 0;
  font-size: .9rem;
}
.projects p {
  font-size: .9rem;
  margin-bottom: 20px;
}
.projects .project_used_item {
  display: inline-block;
  margin: 3px 3px 3px 0;
  font-family: Inconsolata,monospace;
  font-size: .75rem;
  font-weight: 400;
  padding: 2px 7px;
  border-radius: 3px;
  color: #007bff;
  border: 1px solid #007bff;
  background: 0 0;
}
footer {
  padding: 50px 80px;
  align-items: center;
  top: 730px;
  bottom: 0px;
  left: 0px;right: 0px;
}
.footer_links a {
  position: relative;
  display: inline-block;
  color: #007bff!important;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 15px;
  outline: 0;
}
.footer_copyright{
  width: 20px;
  height: 20px;
}
.footer_links img {
  display: none;
  width: 22px;
}
body a, html a {
  text-decoration: none;
  font-weight: 900;
  color: #36363c;
  font-family: Trebuchet MS;
}
body a:hover{
    text-decoration: underline blue;
}
body p, html p {
  font-weight: 400;
}
img{
  float: left;
  height: 160px;
  width: 160px
}
.h2class{
  font-family: 'Share Tech Mono', monospace;
  color: #444452;
  font-weight: 500;
}